.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  height: 100vh;
  font-size: 50px;
}

h3 {
  color: #165aa3;
}