.Confetti {
  animation: fadein 3s;
}

.Confetti h2 {
  z-index: 2;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.Confetti canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}